<!DOCTYPE html>
<html>
<head>
  <title>KevinDolchCapstone</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
</head>



<body class="background">
  <ul class="nav">
    <span class="main-nav">
    <li class="nav-logo">
      <a href="<%="#{root_url}"%>" ><img src="/assets/MusicGenius-logo.png"/></a>
    </li>
    <% if signed_in? %>
      <% stuff = "yup" %>
      <% else %>
        <% stuff = "nope" %>

    <% end %>
    <li class=<%= stuff  %> >
      <% unless signed_in? %>
      <%= link_to "Create Account", new_user_url%>
      <% else %>
      <%= current_user.username %>
      <% end %>
    </li>

    <li>
      <% unless signed_in? %>
      <%= link_to "Log In", new_session_url  %>
      <% else %>
      <%= link_to "Log Out", session_url, method: :delete %>
      <% end %>
    </li>
    <li>
    <%= link_to "Add Artist", "#{root_url}#/artists/new" %>
    </li>
    <li class="last-item">
    <%= link_to "Add Song", "#{root_url}#/songs/new" %>
    </li>
  </span>
  </ul>
  <%=  flash[:errors] %>



<%= yield %>

</body>
</html>
